<h1>Tech4Good Deep Learning API</h1>
<h2 class="page-header">Upload Data</h2>
<p>After running the webscraper, the JSON file should contain
    an array consisting of each question found on Stack Overflow.
    <br>
</p>
<p>Simply paste your file content and paste it in the text box, then hit submit!
    <br> 
    If you get an error, <i>make sure your data is in the right format.</i>
</p>
<form method="post" action="../api/demos/nlp">
  <div class="form-group">
    <textarea type="text" name="data" class="form-control" id="data" placeholder="JSON content" autocomplete="off"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>